<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">出力条件選択</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <a class="btn btn-primary" href="/pdf/サンプル申請書(鑑).pdf" target="_blank" rel="noopener noreferrer" download>出力</a>
            </div>
        </div>
    </div>
</div>