@{
    ViewData["Title"] = "CMB0010_未払締マスタの登録（旧【月次】M_SIMEBI_KANRI_締レコード追加処理.SQL）";
}
<p>このページは現在準備中です。</p>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
