@{
    ViewData["Title"] = "CMV0070_-_振込先情報変換マスタメンテ（新規）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>業務フロー</p>
<div class="text-center">
    <img src="~/img/current/CMV0070_-_振込先情報変換マスタメンテ.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>未払の振込先とSAP振込先口座を紐づける。SAP振込先口座を振込先情報として未払の画面に表示したり、SAP連携ファイルに出力する … ①No.84</li>
            <li>SAPから出力された振込先情報のデータの取込を行い、業者マスタと振込先口座マスタの登録、更新を行う … ②95行目</li>
            <li>仕訳データ作成の際に得意先の情報などから振込先情報に変換するマスタのメンテナンスを行う … ②95行目</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx「新業務フロー(To-Be)未払システム」</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
