@{
    ViewData["Title"] = "CRR0010_販促費申請書(明細)（旧AECR0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行帳票イメージ・相殺額明細表(明細)_確認用</p>
<div class="text-center">
    <img src="~/img/current/CRR0010_AECR0020_相殺額明細表(明細)1.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・相殺額明細表(明細)_提出用</p>
<div class="text-center">
    <img src="~/img/current/CRR0010_AECR0020_相殺額明細表(明細)2.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・振込依頼申請書(明細)_確認用</p>
<div class="text-center">
    <img src="~/img/current/CRR0010_AECR0020_振込依頼申請書(明細)1.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・振込依頼申請書(明細)_提出用</p>
<div class="text-center">
    <img src="~/img/current/CRR0010_AECR0020_振込依頼申請書(明細)2.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
