@{
    ViewData["Title"] = "CRR0020_販促費申請書(鑑)（旧AECR0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行帳票イメージ・相殺額明細表(鑑)_確認用</p>
<div class="text-center">
    <img src="~/img/current/CRR0020_AECR0020_相殺額明細表(鑑)1.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・相殺額明細表(鑑)_提出用</p>
<div class="text-center">
    <img src="~/img/current/CRR0020_AECR0020_相殺額明細表(鑑)2.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・振込依頼申請書(鑑)_確認用</p>
<div class="text-center">
    <img src="~/img/current/CRR0020_AECR0020_振込依頼申請書(鑑)1.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行帳票イメージ・振込依頼申請書(鑑)_提出用</p>
<div class="text-center">
    <img src="~/img/current/CRR0020_AECR0020_振込依頼申請書(鑑)2.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>変更点なし</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx「新業務フロー(To-Be)未払システム」</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
