@{
    ViewData["Title"] = "CRV0020_販促費申請登録（確定）（旧AEST0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/CRV0020_AEST0020_販促費申請登録.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>半角ｶﾅ表示廃止 … ①No.9</li>
            <li>処理方法：振込細分化（特約店、小売業、業者・一般店・グループ企業、登録二次店） … ①No.10</li>
            <li>請求書/見積書/契約書Noはまとめて1つの入力欄とする … ①No.11</li>
            <li>Enterキー動作は次の列に移動を固定 … ①No.12</li>
            <li>Enterキー動作の選択項目削除 … ①No.12</li>
            <li>財財務管理課権限以外のユーザーは「契約達成リベート」の費目で登録できず、登録時のチェックでエラーが発生する … ①No.13、②188行目</li>
            <li>特定の請求・帳合先以外の場合「販売運賃」の費目で登録できず、登録時のチェックでエラーが発生する … ①No.13、②388行目</li>
            <li>財財務管理課権限以外のユーザーは「契約達成リベート」の企画で登録できず、登録時のチェックでエラーが発生する … ①No.14、②193行目</li>
            <li>特定の請求・帳合先以外の場合「販売運賃」の企画で登録できず、登録時のチェックでエラーが発生する … ①No.14、②393行目</li>
            <li>商品選択ボタン廃止 … ①No.15</li>
            <li>西友データ取込ボタン廃止 … ①No.15</li>
            <li>計上データ取込ボタン廃止 … ①No.15</li>
            <li>電算データ取込ボタン廃止 … ①No.15</li>
            <li>店出SR限度率設定処理廃止 … ①No.15</li>
            <li>重点・東西限度率設定処理廃止 … ①No.15</li>
            <li>一部の店出しデータでは、協賛条件等もすべて自動で取得して申請する機能としたかったが、データの信頼性が低いため、本対応はなし … ①No.24</li>
            <li>「契約達成リベート」の費目の場合、確定申請のみ伝票種別を'03'で登録 … ①No.83</li>
            <li>請求・帳合先単位で同一内容の申請データが存在した場合、エラーとする重複チェック追加。 … ①No.16</li>
            <li>金額の閾値や、特定の請求・帳合先の重複チェックの除外設定を行えるように重複チェック条件の制御を行う … ①No.16</li>
            <li>契約達成リベート、販売運賃の費目または、企画の場合、他費目、企画と混在した場合、エラーとなるようにチェックを行う … ①No.83</li>
            <li>JANCDの入力でも品番登録可能 … ①No.17</li>
            <li>初期表示時の支払予定日が土日祝の場合は直前の日に前倒し … ①No.18、②320行目</li>
            <li>支払形態、支払予定日が修正可能 … ①No.19</li>
            <li>センターリベート入力用の品番を設け、商品CD指定でも入力できるようにする(2次開発など時期をずらしての検討) … ①No.85</li>
            <li>営業支援システムの一部を改修し、未払の販促費申請データを登録するタイミングで、業者コードを選択できるように改修 … ①No.86、②581行目</li>
            <li>確認印刷(F2)の名称をエクセル出力に変更</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx「新業務フロー(To-Be)未払システム」</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
