@{
    ViewData["Title"] = "CRV0030_問屋データ取り込み（新規）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>業務フロー</p>
<div class="text-center">
    <img src="~/img/current/CRV0030_-_問屋データ取り込み.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
