@model PaginatedList<BourbonWeb.Models.HansokuSinsei>

@{
    ViewData["Title"] = "CRV0020_販促費申請登録（確定）（旧AEST0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/CRV0020_AEST0020_販促費申請登録.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・費目選択ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0021_AEST0021_費目選択.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・企画選択ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0022_AEST002A_企画選択.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・エクセル取込ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0023_AEST0024_エクセル取込.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・店出データ取込ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0024_AEST0025_店出データ取込.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・前回情報取込ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0025_AEST0023_前回情報取込.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・事前申請選択ダイアログ</p>
<div class="text-center">
    <img src="~/img/current/CRV0026_AEST0022_事前申請選択.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
