@{
    ViewData["Title"] = "PGV0010_販促費申請検索（旧AESK0010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PGV0010_AESK0010_販促費申請検索.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>経費者とは別に明細項目に申請者（申請入力を行った人）を追加 … ①No.27</li>
            <li>菓子・飲料のラジオボタンの位置を変更 … ①No.28</li>
            <li>鑑グループ作成済のデータを販促費申請番号で検索を行なった場合、該当の販促費申請番号のデータだけでなくその申請鑑番号を持つ申請番号も抽出 … ①No.29</li>
            <li>処理方法：振込細分化（特約店、小売業、業者・一般店・グループ企業、登録二次店） … ①No.10</li>
            <li>販促費申請番号を入力し、処理実行ボタンを押下することで指定した販促費申請番号の販促費確定申請情報を一覧に出力 … ②507行目</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx「新業務フロー(To-Be)未払システム」</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>鑑グループ確定は異なる支払予定日の申請の混在不可</li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
