@{
    ViewData["Title"] = "PGV0010_販促費申請検索（旧AESK0010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PGV0010_AESK0010_販促費申請検索.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・鑑グループ確定</p>
<div class="text-center">
    <img src="~/img/current/PGV0011_AESK0011_鑑グループ確定.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・添付資料登録</p>
<div class="text-center">
    <img src="~/img/current/PGV0012_AETP0010_添付資料登録.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<p>現行画面イメージ・出力条件選択</p>
<div class="text-center">
    <img src="~/img/current/PGV0013_AERP0011_出力選択.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
