@{
    ViewData["Title"] = "PPV0012_振込明細確認（旧AEFM0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PPV0012_AEFM0020_振込明細確認.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>画面名を変更。 振込明細確認（特約・登録店）→ 振込明細確認（特約） … ①No.37B</li>
            <li>消費税調整機能は廃止） … ①No.37C</li>
            <li>エクセルデータ：特約店・登録店_経費所別協賛額一覧廃止 … ①No.38</li>
            <li>エクセルデータ：特約店・登録店 販促費振込明細表のタイトル変更。 特約店・登録店 販促費振込明細表 → 特約店 販促費振込明細表 … ①No.39</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
