@{
    ViewData["Title"] = "PPV0013_SAP連携データ作成（旧AESD0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PPV0013_AESD0020_SAP連携データ作成.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>画面名を変更。 預金台帳印刷 → SAP連携データ作成 … ①No.41A</li>
            <li>SAPの項目に合わせてレイアウト変更。振込先情報項目を追加 … ①No.42</li>
            <li>SAP連携ファイルのレイアウトをSAPに合わせて変更 … ①No.43</li>
            <li>SAPの監視フォルダに出力 … ①No.43</li>
            <li>「未払伝票」「支払伝票」の2つを出力しているが、今後は1本化 … ①No.43</li>
            <li>振込(登録二次店)の場合、SAPでの支払とはしないため対象外 … ①No.43</li>
            <li>仮登録ボタン、科目変更ボタン廃止 … ①No.44</li>
            <li>未払の振込先とSAP振込先口座を紐づける。SAP振込先口座を振込先情報として未払の画面に表示したり、SAP連携ファイルに出力する … ①No.84</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
