@{
    ViewData["Title"] = "PRV0020_販促費申請登録（未確定）（旧AEMT0020）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PRV0020_AEMT0020_販促費申請登録.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>半角ｶﾅ表示廃止 … 資料①No.9</li>
            <li>処理方法：振込細分化（特約店、小売業、業者・一般店・グループ企業、登録二次店）… 資料①No.10</li>
            <li>財財務管理課権限以外のユーザーは「契約達成リベート」の費目で登録できず、登録時のチェックでエラーが発生する … ①No.13</li>
            <li>特定の請求・帳合先以外の場合「販売運賃」の費目で登録できず、登録時のチェックでエラーが発生する … ①No.13</li>
            <li>財財務管理課権限以外のユーザーは「契約達成リベート」の企画で登録できず、登録時のチェックでエラーが発生する … ①No.14</li>
            <li>特定の請求・帳合先以外の場合「販売運賃」の企画で登録できず、登録時のチェックでエラーが発生する … ①No.14</li>
            <li>契約形態の項目廃止 … ①No.22</li>
            <li>明細の販売費実勢(〇月)の表示不要 … ①No.23</li>
            <li>請求書/見積書/契約書Noの項目をまとめて1つの入力欄とする … ①No.11</li>
            <li>マネキン用の企画コードを入力してマネキン費用の登録をする … ①No.80</li>
            <li>確定と同様に、未確定も契約達成リベートの入力は行わないが、表示はする。なお、販売運賃については入力する場合がある。 … ①No.83、②425行目</li>
            <li>営業支援システムの一部を改修し、未払の販促費申請データを登録するタイミングで、業者コードを選択できるように改修 … ①No.86</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
