@{
    ViewData["Title"] = "PRV0010_販促費申請条件入力（未確定）（旧AEMT0010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/PRV0010_AEMT0010_販促費申請検索.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>半角ｶﾅ表示廃止 … 資料①No.9</li>
            <li>処理方法：請求書控除廃止 … 資料①No.8</li>
            <li>処理方法：振込細分化（特約店、小売業、業者・一般店・グループ企業、登録二次店）… 資料①No.10</li>
            <li>業者コード入力欄追加 … 資料①No.11B</li>
            <li>処理方法で業者振込を選択した際、業者コード入力欄を表示 … ①No.11B</li>
            <li>経費所、経費者コードの存在チェック方法を、売上データに存在するかどうかに変更 … ①No.11C、資料②337行目</li>
            <li>項目マウスオーバーで項目の説明を表示 … ①No.11A</li>
            <li>確定申請登録ボタン廃止… ①No.20<li>
            <li>未確定申請番号入力後に検索で販促費支払未確定申請登録画面に遷移 … ①No.21</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
