@{
    ViewData["Title"] = "RAV0040_申請月別状況検査（旧AESJ0010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/RAV0040_AESJ0010_申請月別状況検査.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>検索条件に「計上年月」をFrom-To形式で追加 … ①No.60</li>
            <li>取込値引きデータを抽出できるように、検索条件「取込値引きデータのみ」「除く」「全て」を追加 … ①No.61、②1247行目</li>
            <li>マネキン申請データの参照を廃止 … ①No.80</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
