@{
    ViewData["Title"] = "RAV0010_申請状況確認（旧AESJ1010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/RAV0010_AESJ1010_申請状況確認.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>画面ヘッダの処理説明文を削除 … ①No.45</li>
            <li>販促費申請番号で検索できるように抽出条件を追加 … ①No.46</li>
            <li>締に間に合わなかった販促費申請を抽出できる検索条件を追加 … ①No.47</li>
            <li>申請伝票一覧から、販促費申請各種変更の処理が行えるようにする … ①No.48</li>
            <li>処理方法：振込細分化（特約店、小売業、業者・一般店・グループ企業、登録二次店） … ①No.10</li>
        </ul>
    </div>
    <div class="card-footer">
        資料
        <ol class="mb-0">
            <li>要件定義書_未払費用管理システム.xlsx「3.2 業務課題と要望」</li>
            <li>ブルボン様_未払費用管理システム_3.1 業務フロー 新業務フロー(To-Be).xlsx</li>
            <li>確定登録画面不要＆コード表改修.xlsx</li>
        </ol>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
