@model PaginatedList<BourbonWeb.Models.HansokuSinsei>

@{
    ViewData["Title"] = "RAV0020_未払費用計上表出力（旧AEMK0010）";
}
<p>このページは現在準備中です。</p>

<hr />
<p>現行画面イメージ</p>
<div class="text-center">
    <img src="~/img/current/RAV0020_AEMK0010_未払費用計上表印刷.png" alt="Current System Image" class="img-fluid" />
</div>

<hr />
<div class="card mt-1">
    <div class="card-header">要件一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">確認事項</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">仕様一覧</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">機能概要</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
<div class="card mt-1">
    <div class="card-header">TODO</div>
    <div class="card-body">
        <ul class="mb-0">
            <li></li>
        </ul>
    </div>
</div>
